.layout {
  display: flex;
  flex-direction: column;
  /*make footer sticky to bottom when scrolling*/
  min-height: 100vh;
}

.footer {
  bottom: 0;
  /*make footer sticky to bottom when scrolling*/
  margin-top: auto;
  background-color: #33b5e5;
  color: white;
  text-align: center;
}